name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: dotnet restore src/GameHelper.csproj
    - name: Build
      run: dotnet build src/GameHelper.csproj --configuration Debug --no-restore