name: Discord

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and upload to Discord
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1

    - name: Install dependencies
      run: dotnet restore src/GameHelper.csproj

    - name: Build
      run: dotnet build src/GameHelper.csproj --configuration Release --no-restore

    - name: Remove build files
      run: rm bin/*.json

    - name: upload
      env:
        ZIPNAME: Lobby
        TAG_NAME: ${{ github.ref_name }}
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      run: |
        json_escape() {
          local raw_string="$1"
          echo "$raw_string" | jq -Rs . | sed 's/^"\(.*\)"$/\1/'
        }

        ZIPNAME="GameHelper-${TAG_NAME}.zip"
        zip -qq -r $ZIPNAME Audio bin Dialog Graphics Loenn everest.yaml LICENSE README.md

        # Output full git log for debugging
        echo "Full Git Log:"
        git log --oneline -n 12 --format="%h – %s"

        # Fetch commit messages
        PREVIOUS_TAG=$(git tag --sort=-creatordate | grep -A 1 "^${TAG_NAME}$" | tail -n1)
        echo "PREVIOUS_TAG=${PREVIOUS_TAG}"
        if [ -z "$PREVIOUS_TAG" ]; then
          echo "No previous tag found, defaulting to the first commit."
          COMMITS=$(git log --oneline -n 12 --format="%h – %s")
        else
          COMMITS=$(git log $PREVIOUS_TAG..$TAG_NAME --oneline -n 12 --format="%h – %s")
        fi

        TAG_NAME=$(json_escape "$TAG_NAME")
        COMMITS=$(json_escape "$COMMITS")

        # upload to discord
        curl -H 'Content-Type: multipart/form-data' -X POST -F "file=@$ZIPNAME" -F "payload_json={\"content\": \"GameHelper $TAG_NAME$COMMITS\"}" "$DISCORD_WEBHOOK"